.navbar {
    position: sticky;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 100%;
    background-color: var(--custom-secondary);
}

.logo {
    font-weight: 700;
    color: var(--custom-accent);
    padding: 0.825rem 1rem;
}

.dropdown {
    padding: 0.825rem 1rem;

    color: var(--custom-secondary);
    background-color: var(--custom-primary);
}